@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5%;

  nav {
    display: flex;
    gap: 2rem;

    a {
      font-weight: 700;
    }
  }
}

.section1 {
  width: 100%;
  background-color: rgb(241, 187, 19);
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    width: 100%;

    display: flex;
    align-items: center;

    img {
      width: 50%;
    }

    .right {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding-left: 3rem;

      p {
        font-size: 1.2rem;
        text-transform: uppercase;
        font-weight: 700;
        color: rgb(17, 17, 17);
      }

      h1 {
        font-size: 2.5rem;
        color: black;

        a {
          color: #34365a;
        }
      }

      span {
        font-weight: 300;
        a {
          color: #34365a;
        }
      }

      button {
        background-color: #34365a;
        width: 200px;
        color: white;
        border: 0%;
        border-radius: 1rem;
        padding: 1rem;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 1rem;
      }
    }
  }
}

.section2 {
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    width: 70%;
    height: 90%;

    .upper {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      align-items: center;
      padding-top: 3.5rem;

      h2 {
        font-weight: 900;
        font-size: 2.5rem;
      }
      p {
        padding-bottom: 1.5rem;
      }
    }

    .lower {
      display: flex;
      flex-wrap: wrap;
      padding-bottom: 3.5rem;

      .son {
        width: 50%;
        height: 40vh;
        background-size: cover;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: left;
        padding-left: 2rem;
        padding-right: 2rem;
        gap: 1rem;

        h2 {
          font-weight: 700;
        }

        button {
          background-color: rgb(241, 187, 19);
          width: 200px;
          color: #34365a;
          border: 0%;
          border-radius: 6rem;
          padding: 1rem;
          font-weight: 700;
          text-transform: uppercase;
        }
      }

      .orange {
        background-color: rgb(241, 187, 19);
      }

      .blue {
        background-color: rgb(52, 54, 90);
        color: white;

        button {
          background-color: #34365a;
          color: white;
          border-color: white;
        }
      }
    }
  }
}

.section3 {
  width: 100%;
  height: 100vh;
  background-color: #34365a;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    width: 70%;
    height: 95%;

    .upper {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      align-items: center;
      justify-content: center;
      padding-top: 3.5rem;
      color: white;

      h2 {
        font-weight: 900;
        font-size: 2.5rem;
      }

      .buttons {
        display: flex;
        justify-content: center;
        gap: 15px;

        .b2 {
          background-color: white;
          color: #34365a;
          border: #34365a;
        }

        button {
          background-color: #34365a;
          width: 220px;
          color: #ffffff;
          border-color: white;
          border: 0%;
          border-radius: 6rem;
          padding: 1rem;
          font-weight: 700;
          text-transform: uppercase;
        }
      }
    }
  }
}

.section4 {
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  .upper {
    width: 70%;
    display: flex;
    position: relative;
    /* justify-content: center;
    align-content: center; */

    .son1 {
      width: 100%;
      height: 100vh;
      background-image: url(./down1.jpg);
      background-size: contain;
      background-repeat: no-repeat;
      position: relative;
      top: -275px;

      .son2 {
        width: 45%;
        height: 60vh;
        background-color: white;
        position: absolute;
        right: 70px;
        top: 120px;

        .text {
          width: 90%;
          height: 100%;
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: left;
          padding-left: 1.5rem;
          gap: 1.5rem;

          h2 {
            font-size: 3rem;
            line-height: 1.1;
            font-weight: 700;
          }

          button {
            background-color: #34365a;
            width: 150px;
            color: white;
            border: 0%;
            border-radius: 6rem;
            padding: 1rem;
            font-weight: 700;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}

.section5 {
  width: 100%;
  height: 100vh;
  background-color: white;
  display: flex;
  justify-content: center;

  .upper2 {
    width: 70%;
    height: 15%;
    display: flex;
    margin-top: -200px;
    gap: 10rem;

    .circle1 {
      width: 100%;
      /* height: 100%; */
      background-color: #f1bb13;
      border-radius: 50%;
    }
    .circle2 {
      width: 100%;
      /* height: 100%; */
      background-color: #f1bb13;
      border-radius: 50%;
    }

    .circle3 {
      width: 100%;
      /* height: 100%; */
      background-color: #f1bb13;
      border-radius: 50%;
    }
    .circle4 {
      width: 100%;
      /* height: 100%; */
      background-color: #f1bb13;
      border-radius: 50%;
    }
  }
}
